<section class="about" id="about-us">
  <div class="container">
    <h2>About us</h2>
    <div class="about__wrap">
       
        <img class="about__picture" src="img/about_us_1.jpg" alt="about_us_picture">        
       
        <div class="description about__description">
          We’ve held English classes at Taringa Baptist Church 
          since 1999. 

          At our conversation classes we focus on speaking everyday English through interaction and fun.  Classes are also a great place to make new friends.  
        </div>
                

        <img class="about__picture even" src="img/about_us_2.jpg" alt="about_us_picture">          
       
        <div class="description about__description even">
          Our teaching team includes teachers with TESOL qualifications, multi-lingual teachers and teachers who have spoken English all their lives.
        </div>                                           
              
      </div>  <!--about__wrap-->
                        

    </div>  <!--container-->
</section> <!--about-->