<section class="contact_us" id="contact_us">
 

  <div id="map" style="background-image: url('img/map.jpg')"></div> 
   
  <div class="contacts">
     <h2 class="contacts__heading">Contacts</h2>
     <div class="contacts__details">
       <div class="details__adress">Taringa Baptist Church<br>
       36 Morrow St, Taringa<br></div>
       <div class="contacts__transport">
         <div class="transport__heading">
           Transport and Parking
         </div>
         <div class="transport__content">
           Near Taringa train station and Bus Stop
           19 Moggill Rd Limited car parking spaces 
          are available in our car park found
           at the back of the church 
         </div>
       </div>
       <div class="details__email">
          <a href="mailto:chris@taringabaptist.org.au">chris@taringabaptist.org.au</a>

       </div>
       <div class="details__social-media">
         <a href="#"><i class="social__icon fa fa-facebook-square"></i></a>
       </div>
     </div>
     
    <div id="contact-form">
      <div class="subheading contact-form__subheading">Get in touch with us</div>
      <div role="form" class="wpcf7" id="wpcf7-f101-o1" lang="en-AU" dir="ltr">

        <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">

          <div class="form__field">
            <input type="text" name="contact-name" placeholder="Name"  value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" />
            <label for contaxt-name class="field__name">Name<span class="required">*</span> </label>

          </div>
          <div class="form__field">
            <input type="email" name="your-email" placeholder="Email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"/>
            <label for your-email class="field__name">Email<span class="required">*</span> </label>
          </div>			      
          <div class="form__field">
            <textarea name="your-message" cols="37" rows="1" placeholder="Message" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea><label class="field__name">Message<span class="required">*</span></label>
          </div>
          <div>
            <input type="submit" value="Send message" class="upper wpcf7-form-control wpcf7-submit submit"/>
          </div>
          <div class="wpcf7-response-output wpcf7-display-none"></div>
        </form>

      </div> <!-- .wpcf7 -->
    </div>  <!-- #contact-form-->
    
  
    
  </div> <!--contacts end-->
  
  <div class="contact_us__bg" style="background-image: url('img/contacts-bg.jpg')"></div>
  
  
</section>