<section class="resources" id="free-resources">
 <div class="container">
  <h2 class="upper">Free resources<br>for studing English</h2>
  <div class="resources__wrap">
   
    <div class="resources__items resources__items-apps">
      <h3 class="resources__items_heading">Apps<br>
      and websites</h3>
      
      <div class="items__wrap">
      
        <div class="resource__item clearfix">
          <img src="img/icons/app-icon1.png" alt="app-icon" class="resources__icon">
          <div class="resource__content">
            <h4 class="resource__item_head">English Pronunciation:</h4>
            <a href="http://appcrawlr.com/android/
              english-pronunciation-phonetic" class="resource__link link">
              http://appcrawlr.com/android/
              english-pronunciation-phonetic
            </a>
          </div>   <!-- resource__content end  -->
        </div>     <!-- resource__item end  -->

        <div class="resource__item clearfix">
          <img src="img/icons/app-icon2.png" alt="app-icon" class="resources__icon">
          <div class="resource__content">
            <h4 class="resource__item_head">Learn English Listening:</h4>
            <a href="http://appcrawlr.com/android/
              learn-english-by-conversation" class="resource__link link">
              http://appcrawlr.com/android/
              learn-english-by-conversation
            </a>
          </div>   <!-- resource__content end  -->
        </div>     <!-- resource__item end  -->      

        <div class="resource__item clearfix">
          <img src="img/icons/app-icon3.png" alt="app-icon" class="resources__icon">
          <div class="resource__content">
            <h4 class="resource__item_head">News in levels:</h4>
            <a href="https://www.newsinlevels.com/
            products/news-in-levels-app-level-1/" class="resource__link link">
            https://www.newsinlevels.com/
            products/news-in-levels-app-level-1/
            </a>
          </div>   <!-- resource__content end  -->
        </div>     <!-- resource__item end  --> 
      
      </div>      <!-- items wrap  -->     
      
    </div>       <!-- resources__items end  --> 
    
    <div class="resources__items resources__items-video">
      <h3 class="resources__items_heading">Youtube<br>
      video</h3>
      
      <div class="items__wrap">
      
        <div class="resource__item clearfix">
          <img src="img/icons/video-icon1.png" alt="video-icon" class="resources__icon">
          <div class="resource__content">
            <h4 class="resource__item_head">Australian Slang:</h4>
            <a href="https://www.youtube.com/
              watch?v=NS1Q9w-lTzs" class="resource__link link">
              https://www.youtube.com/
              watch?v=NS1Q9w-lTzs
            </a>
          </div>   <!-- resource__content end  -->
        </div>     <!-- resource__item end  -->

        <div class="resource__item clearfix">
          <img src="img/icons/video-icon1.png" alt="video-icon" class="resources__icon">
          <div class="resource__content">
            <h4 class="resource__item_head">10 Grammar Mistakes:</h4>
            <a href="https://www.youtube.com/
            watch?v=NS1Q9w-lTzs" class="resource__link link">
              https://www.youtube.com/
              watch?v=NS1Q9w-lTzs
            </a>
          </div>   <!-- resource__content end  -->
        </div>     <!-- resource__item end  -->      
                 
      </div>      <!-- items wrap  -->                    
                  
    </div>       <!-- resources__items end  --> 
    
    <div class="resources__items resources__items-materials">
      <h3 class="resources__items_heading">Download<br>
      class material</h3>
      
      <div class="items__wrap">
      
      <div class="resource__item clearfix">
        <img src="img/icons/material-icon1.png" alt="material-icon" class="resources__icon">
        <div class="resource__content">
          <h4 class="resource__item_head">New material:</h4>
          <a href="https://www.taringabaptist.org.au/
          new_words/id-1" class="resource__link link">
            https://www.taringabaptist.org.au/
            new_words/id-1
          </a>
        </div>   <!-- resource__content end  -->
      </div>     <!-- resource__item end  -->
      
      <div class="resource__item clearfix">
        <img src="img/icons/material-icon1.png" alt="material-icon" class="resources__icon">
        <div class="resource__content">
          <h4 class="resource__item_head">New material:</h4>
          <a href="https://www.taringabaptist.org.au/
          new_words/id-1" class="resource__link link">
            https://www.taringabaptist.org.au/
          new_words/id-1
          </a>
        </div>   <!-- resource__content end  -->
      </div>     <!-- resource__item end  -->      
      
      <div class="resource__item clearfix">
        <img src="img/icons/material-icon1.png" alt="material-icon" class="resources__icon">
        <div class="resource__content">
          <h4 class="resource__item_head">New material:</h4>
          <a href="https://www.taringabaptist.org.au/
          new_words/id-1" class="resource__link link">
          https://www.taringabaptist.org.au/
          new_words/id-1
          </a>
        </div>   <!-- resource__content end  -->
      </div>     <!-- resource__item end  -->          
                                 
      </div>      <!-- items wrap  -->                              
      
    </div>       <!-- resources__items end  -->           
    
    
  </div>
  </div>
</section>