<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="upper">Gallery</h2>

      <div class="gallerys__wrap clearfix"> 
         
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
              
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb1.jpg" alt="gallery1" data-full-url="img/gallerys/gallery1.jpg" data-index="1">
               
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb2.jpg" alt="gallery2" data-full-url="img/gallerys/gallery2.jpg" data-index="2">
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb3.jpg" alt="gallery3" data-full-url="img/gallerys/gallery3.jpg" data-index="3">
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb4.jpg" alt="gallery4" data-full-url="img/gallerys/gallery4.jpg" data-index="4">
          </div>            
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb5.jpg" alt="gallery5" data-full-url="img/gallerys/gallery5.jpg" data-index="5">
          </div>            
      </div>      <!--gallery__item-end--> 

       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb6.jpg" alt="gallery6" data-full-url="img/gallerys/gallery6.jpg" data-index="6">
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div href="#" class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb7.jpg" alt="gallery7" data-full-url="img/gallerys/gallery7.jpg" data-index="7">
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb8.jpg" alt="gallery8" data-full-url="img/gallerys/gallery8.jpg" data-index="8">
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb9.jpg" alt="gallery9" data-full-url="img/gallerys/gallery9.jpg" data-index="9">
          </div>   
      </div>      <!--gallery__item-end-->    
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb10.jpg" alt="gallery10" data-full-url="img/gallerys/gallery10.jpg" data-index="10">
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb11.jpg" alt="gallery11" data-full-url="img/gallerys/gallery11.jpg" data-index="11">
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb12.jpg" alt="gallery12" data-full-url="img/gallerys/gallery12.jpg" data-index="12">
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb13.jpg" alt="gallery13" data-full-url="img/gallerys/gallery13.jpg" data-index="13">
          </div>            
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb14.jpg" alt="gallery14" data-full-url="img/gallerys/gallery14.jpg" data-index="14">
          </div>            
      </div>      <!--gallery__item-end--> 

       <div class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb15.jpg" alt="gallery15" data-full-url="img/gallerys/gallery15.jpg" data-index="15">
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div href="#" class="gallery__item">
          <div class="gallery__picture_wrap">
               <img class="gallery__picture"  src="img/gallerys/gallery_thumb16.jpg" alt="gallery16" data-full-url="img/gallerys/gallery16.jpg" data-index="16">
          </div>   
      </div>      <!--gallery__item-end-->                                 
                         
      </div> <!--gallerys__wrap end-->
      <a href="" id="gallery__more" class="read-more">See more...</a>
    </div>  <!--container-->
</section>