


 <header class="header">


 
   <div class="header-top">
      <div class="container">
        <div class="header__wrap">
        
        <!--logo-->
        
      
           <!--humburger-menu-icon-->

          <button class="cmn-toggle-switch cmn-toggle-switch__htx">
            <span></span>
          </button> <!--humburger-menu-icon end-->
         
          <!--menu top-->
        
         <nav class="menu_top upper">
           <ul class="menu">
             <li class="home-link">
               <a href="#">Home</a>
             </li>
             <li class="home-link">
               <a href="index.html#about-us">About us</a>
             </li>
             <li class="home-link">
               <a href="index.html#our-classes">Our classes</a>
             </li>
             <li class="home-link">
               <a href="index.html#gallery">Gallery</a>
             </li>
             <li class="home-link">
               <a href="index.html#free-resources">Free resources</a>
             </li>
             <li class="home-link">
               <a href="index.html#teaching-material">Teaching materials</a>
             </li>             
             <li class="home-link">
               <a href="index.html#contact_us">Contact us</a>
             </li>
           </ul>
         </nav>            <!--menu top end-->

          <!--contacts top-->
          <div class="contacts_top">
            <div class="contacts__wrap">
             Taringa Baptist Church<br>
              36 Morrow St, Taringa<br>
              <a class="contacts__email" href="mailto:chris@taringabaptist.org.au">chris@taringabaptist.org.au</a>
             </div> 
          </div>    <!--contacts top end-->
        </div>   <!--wrap-->     
      </div> <!-- container-->
  </div> <!--header-top end-->
     
     <!--header-bottom--> 
     <div class="header-bottom">
      <div class="container">
      
       <div class="offer">
         <h1 class="upper">FREE ENGLISH CONVERSATION <br>cLASSES IN TARINGA</h1>
       </div>
       <img class="header__picture" src="img/students_together.svg" alt="">
       <div class="notice"></div>
   
           <div class="notice__inner">
             <div class="notice__column notice__column-first">
               <h4 class="notice__heading upper">Next class</h4>
               <div class="notice__content">
                 Thursday 18 July <br>
                 9-30 a.m.
               </div>
             </div>
             
             <div class="notice__column notice__column-second">
               <h4 class="notice__heading upper">Join us</h4>
               <div class="notice__content">
                 Each Thursday and Saturday <br>
                 except during school holiday
               </div>
             </div>                        
           </div>
      
       
       
        </div> <!-- container-->
     </div> <!--header-bottom--> 
    
 <div class="site-overlay noActive"></div>
</header>