<section style="background-image: url('img/our_classes_bg.jpg')" class="our-classes" id="our-classes">
  <div class="container">
    <h2>Our classes</h2>
    <div class="our-classes__wrap">
       
        <img class="our-classes__picture" src="img/our_classes1.jpg" alt="our-classes__picture">           
       
        <div class="description our-classes__discription">
          We have three different class levels: beginner, intermediate and advanced; so, you’ll find a class right for you.<br><br>

          <span class="bolder">Our Schedule:</span><br><br>

          Thursdays and Saturdays
          Conversation Classes 9.30 to 11.30am
          Beginner, Intermediate and Advanced level classes.<br><br>

          Easy English Bible studies after the conversation classes help people Learn English and Learn about Jesus; to practice English, discover who Jesus is and what it means to live as a Christian.<br><br>

          Learning English and Learning about Jesus 11.45 am to 1pm  
        </div>
                             
      </div>  <!--about__wrap-->
                        

    </div>  <!--container-->
</section> <!--about-->