// Fonts
$ff-head: 'Heading';
$ff-main-b: 'Open-sanse-bold';
$ff-main: 'Open-sanse-regular';

//Colors
$cc-text: #0c1a01;
$cc-head: #f1d11d;
$cc-accent: #01b1a0;
$cc-link: #5d7de5;

$ss-block: 0px 4px 9px 0px rgba(0, 0, 0, 0.45); 



