/*======================<_footer>==================*/

.footer {
  height: 82px;
  background-color: #13221a;
  color: #ffffff;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.footer__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
}




.copyright {
  font-size: 16px;
  font-family: $ff-main;
}

.footer__social-media {
  font-size: 18px;
}

.footer__social-media .social__icon {
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
 .container {
  width: 90%;
  }
}

@media screen and (max-width: 680px) {

  .footer {
    height: 110px;
  }
 
  .footer__wrap {
    height: 110px;
    flex-direction: column;
  }
  
  .copyright {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .footer__social-media {
    padding-right: 12px;
  }  
}

@media screen and (max-width: 370px) {
  .footer {
    height: 120px;
  }
 
  .footer__wrap {
    height: 120px;
  }
}

/*======================<_footer end>==================*/